<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= kitty.name %></title>
</head>
<body>
   <h1>Details Page for <%= kitty.name %></h1> 
   <img src="/static/<%= kitty.name %>.jpg" alt="<%= kitty.name %>">
</body>
</html>