<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Log And Reg</title>
    <style>
        #container {
            margin: 100px 400px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default">
        <h1>Dojo Secrets</h1>
        <a href="/secrets">Home</a>
        <a href="/logout">Logout</a>
    </nav>
    <div id="container">
        <% if (messages.formErrors) { %>
            <% for (let x of messages.formErrors) { %>
                <p style="color: red"><%= x %></p>
            <% } %>
        <% } %>
        <h1>Comment on this secret</h1>
        <br><br>
        <h2><%= secret.content %></h2>
        <hr>
        <p>Comments:</p>
        <% for (comment of secret.comments) { %>
            <p><%= comment %></p>
        <% } %>
        <br>
        <hr>
        <form action="/secrets/<%= secret._id %>/comment" method="post">
            <div class="form-group">
                <p>Comment: <input type="text" name="comment"></p>
            </div>
            <br>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>