<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Log And Reg</title>
    <style>
        #container {
            margin: 100px 400px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default">
        <h1>Dojo Secrets</h1>
        <a href="/logout">Logout</a>
    </nav>
    <div id="container">
        <h3>Create a secret</h3>
        <hr>
        <% if (messages.formErrors) { %>
            <% for (let x of messages.formErrors) { %>
                <p style="color: red"><%= x %></p>
            <% } %>
        <% } %>
        <form action="/secrets" method="post">
            <div class="form-group">
                <p>Secret</p>
                <input type="text" name="secret">
            </div>
            <button type="submit">Submit</button>
        </form>
        <br><hr>
        <div class="row">
            <h4>All the secrets</h4>
            <% for (let secret of secrets) { %>
                <hr>
                <p>Secret: <a href="/secrets/<%= secret._id %>"><%= secret.content %></a>
                <% if (secret.authorId === userId) { %>
                    <br><a href="/secrets/<%= secret._id %>/destroy" style="color:red">Delete</a>
                <% } %>
            <% } %>
        </div>
    </div>
</body>
</html>