<div class="container">
<h1>Dojo Weather Forcast</h1>
  <div class="row">
    <button [routerLink]='["/seattle"]' class="col">Seattle, WA</button>
    <button [routerLink]='["/sanjose"]' class="col">San Jose, CA</button>
    <button [routerLink]='["/burbank"]' class="col">Burbank, CA</button>
    <button [routerLink]='["/dallas"]' class="col">Dallas, TX</button>
    <button [routerLink]='["/washingtondc"]' class="col">Washington D.C.</button>
    <button [routerLink]='["/chicago"]' class="col">Chicago, IL</button>
  </div>
  <router-outlet></router-outlet> 
</div>